---
---
<footer class="bg-dark text-light py-3">
    <div class="container">
      <div class="row">
        <!-- Left Section: Company Name -->
        <div class="col-md-6">
          <p class="mb-0">© Max Digital Photo</p>
        </div>
        
        <!-- Right Section: Social Icons -->
        <div class="col-md-6 text-md-end">
          <!-- Facebook Icon -->
          <a href="maxdigitalphoto_official" class="text-light me-4">
            <i class="bi bi-facebook h4"></i></a>
          <a href="https://www.instagram.com/maxdigitalphoto_official/?hl=en" class="text-light me-4">
            <i class="bi bi-instagram h4"></i></a>
          <a href="https://wa.me/7065203064" class="text-light">
            <i class="bi bi-whatsapp h4"></i></a>
        </div>
      </div>
    </div>
</footer>
